.product
  .thumbnail
    img.img-responsive ng-src="{{product.picture}}"
    .caption
      .row
        .col-md-6.col-xs-6
          h3
            |{{product.position+1}}. {{product.name}}

        .col-md-6.col-xs-6.price
          h3
            label
              |{{product.price}}
      .row
        .col-md-12
          p
            |{{product.description}}

      .row
        .col-md-12.text-right
          a.btn.btn-success.btn-product href="#"  Buy
